
<%= form_for @dog do |form| %>
  <% if @dog.errors.any? %>
    <h2>Errors:</h2>
    <ul>
      <% @dog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
  <%= form.text_field :name, placeholder: "name", required: true %>
  <%= form.text_field :email, placeholder: "email", required: true %>

  <%= form.submit %>
<% end %>